# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/src/main/webapp/resources/image/cloupor-t8-100w-02_1024x1024.jpg
/src/main/webapp/resources/image/black-sun-ejuice-eliquid_large.jpg
/src/main/webapp/resources/image/headLogoV1.png
/src/main/webapp/resources/image/arctic-blueberry-ejuice_1024x1024.jpg
/src/main/webapp/resources/image/ego-twist-1100-vape-pen_1024x1024.jpg
/src/main/webapp/resources/image/tron-s-atomizer-tank-joyetech-06_1024x1024.jpg
/src/main/webapp/resources/image/headLogoV2.png
/src/main/webapp/resources/image/510_drip_ss_1.jpg
/src/main/webapp/resources/image/subtank-nano-01_large.jpg
/src/main/webapp/resources/image/Eleaf-iStick-Basic-Kit-1024x1024.jpg
/src/main/webapp/resources/image/Joyetech-Cuboid-200w-tc-mod-black_1024x1024.jpg
/src/main/webapp/resources/image/joyetech-ego-aio-light-up_1024x1024.jpg
